name: Build & Release

on:
  push:
    branches: ["main"]
    tags: ["v*.*.*"]

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    permissions:
      contents: write

    steps:
      - name: Check out Git repository
        # actions/checkout@v5.0.1
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd

      - name: Set up Node.js
        # actions/setup-node@v6.0.0
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: "24.11.1"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run linter
        run: npm run lint

      - name: Build and optionally publish
        # Only run the publishing step if the trigger was a version tag
        if: startsWith(github.ref, 'refs/tags/v')
        run: npm run build -- --publish always
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # This step runs for non-tag pushes to 'main'
      - name: Build for validation (no publish)
        if: "!startsWith(github.ref, 'refs/tags/v')"
        run: npm run build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
